<div class="footer-pagination mt-5 mb-2">
  <div class="flex-row justify-content-end">
    <div class="flex-row mr-4">
      <div class="mx-4 my-1">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Items per page : {{ selectdValue }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ng-container *ngFor="let item of items">
              <button class="btn btn-primary btn-lg" ngbDropdownItem (click)="selectdValue = item">
                {{ item }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="flex-row" *ngIf="pageModel != null">
        <div class="arrows">
          <ngb-pagination
            class="d-flex justify-content-end"
            [collectionSize]="pageModel.totalElements"
            [(page)]="pageModel.number"
            [pageSize]="selectdValue"
            size="lg"
            (pageChange)="onChange($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
