<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <app-sidebar></app-sidebar>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <app-header></app-header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <app-product-list></app-product-list>
        </div>
      </div>
    </div>

    <!-- END MAIN CONTENT-->
  </div>
  <app-pagination></app-pagination>
</div>

<app-footer></app-footer>
