<div class="footer-pagination mt-5 mb-2">
  <div class="flex-row justify-content-end">
    <div class="flex-row">
      <div class="bg-info info-content">
        <span>Totoal number of elements : {{ pageModel?.totalElements }}</span>
      </div>
      <div class="flex-row ml-4" *ngIf="pageModel != null">
        <div class="arrows">
          <ngb-pagination
            class="d-flex justify-content-end"
            [collectionSize]="pageModel.totalElements"
            [(page)]="pageModel.number"
            [pageSize]="pageModel.size"
            size="lg"
            (pageChange)="onChange($event)"
            [maxSize]="5"
          ></ngb-pagination>
        </div>
      </div>
      <div class="mx-4 my-1">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-primary btn-lg"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Items per page : {{ pageModel?.size }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            *ngIf="pageModel"
          >
            <ng-container *ngFor="let item of items">
              <button
                class="btn btn-primary btn-lg"
                ngbDropdownItem
                (click)="onChangeItemsPerPage(item)"
              >
                {{ item }}
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
