<div class="row" *ngIf="!isNullOrEmptyArray(products); else noProductsFound">
  <ng-container *ngFor="let product of products">
    <div class="col-md-3">
      <div class="product-box product-view">
        <a routerLink="/products/{{ product.id }}">
          <img [src]="product.imageUrl" class="img-responsive" />
        </a>
        <div class="product-info">
          <a routerLink="/products/{{ product.id }}">
            <h1 class="truncate">
              <i routerLink="/products/{{ product.id }}">{{ product.name }}</i>
            </h1>
          </a>
          <h2 class="truncate">
            {{ product.description }}
          </h2>
          <div class="price mb-1">
            {{ product.newPrice | currency : "INR" }}

            <del class="text-muted">{{
              product.unitPrice | currency : "INR"
            }}</del
            >&nbsp;
            <span class="text-success">{{ product.off }}% off</span>
          </div>
          <app-product-action-button
            [product]="product"
          ></app-product-action-button>
        </div>
      </div>
    </div>
  </ng-container>
  <app-pagination
    [pageModel]="pageModel"
    (pageChange)="loadAllProducts()"
  ></app-pagination>
</div>

<ng-template #noProductsFound>
  <div class="alert alert-warning col-md-12">No Products found.</div>
</ng-template>
