<div class="row">
  <ng-container *ngFor="let product of products">
    <div class="col-md-3">
      <div class="product-box product-view">
        <a href="product-detail.html">
          <img [src]="product.imageUrl" class="img-responsive" />
        </a>
        <div class="product-info">
          <a href="product-detail.html">
            <h1 class="truncate">
              <i>{{ product.name }}</i>
            </h1>
          </a>
          <h2 class="truncate">
            {{ product.description }}
          </h2>
          <div class="price mb-1">
            {{ getOfferPrice(product) | currency : "INR" }}

            <del class="text-muted">{{
              product.unitPrice | currency : "INR"
            }}</del
            >&nbsp;
            <span class="text-success">{{ product.off }}% off</span>
          </div>
          <div class="flex-row">
            <button href="#" class="btn btn-outline-info flex-extend">
              Buy now
            </button>

            <button href="#" class="btn btn-info mx-2 flex-extend">
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div></ng-container
  >
</div>
