<ng-container *ngIf="product">
  <div class="flex-row">
    <div class="flex-col">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="product-img flex-extend"
      />
      <app-product-action-button
        customStyle="btn-lg flex-extend"
        [product]="product"
      ></app-product-action-button>
    </div>
    <div class="product-info">
      <h3 class="product-name">{{ product.name }}</h3>
      <div class="price mb-1">
        {{ product.newPrice | currency : "INR" }}

        <del class="text-muted">{{ product.unitPrice | currency : "INR" }}</del
        >&nbsp;
        <span class="text-success">{{ product.off }}% off</span>
      </div>
      <h4 class="section-title">Description</h4>
      <p class="product-description">{{ product.description }}</p>
    </div>
  </div>
</ng-container>

<div class="back-button">
  <button class="btn btn-primary btn-lg" routerLink="/product">
    <i class="fa-solid fa-arrow-left mx-2"></i><span>Back to Product List</span>
  </button>
</div>
