<ng-container *ngIf="product">
  <div class="flex-row">
    <div class="flex-col">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="product-img flex-extend"
      />
      <app-product-action-button
        customStyle="btn-lg flex-extend"
        [product]="product"
      ></app-product-action-button>
    </div>

    <app-product-detail-info
      [product]="product"
      [unit]="1"
    ></app-product-detail-info>
  </div>
</ng-container>

<div class="back-button">
  <button class="btn btn-primary btn-lg" routerLink="/product">
    <i class="fa-solid fa-arrow-left mx-2"></i><span>Back to Product List</span>
  </button>
</div>
