<div class="main page-m scrol">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
        <!--Customer-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label>First Name</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  formControlName="firstName"
                  type="text"
                  [class]="
                    firstName.touched && firstName.invalid && firstName.touched
                      ? 'border border-danger'
                      : ''
                  "
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: { name: firstName, field: 'First Name' }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Last Name</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  formControlName="lastName"
                  type="text"
                  [class]="
                    lastName.touched && lastName.invalid && lastName.touched
                      ? 'border border-danger'
                      : ''
                  "
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: { name: lastName, field: 'Last Name' }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  formControlName="email"
                  type="text"
                  [class]="
                    email.touched && email.invalid && email.touched
                      ? 'border border-danger'
                      : ''
                  "
                />

                <div
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert alert-danger my-1"
                >
                  <div *ngIf="email.errors['required']">Email is required</div>
                  <div *ngIf="email.errors['pattern']">invalid email</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shpiping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Country</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select
                  formControlName="country"
                  class="form-control"
                  (change)="getState($event)"
                >
                  <option
                    *ngFor="let country of countries"
                    [ngValue]="country.name"
                  >
                    {{ country.label }}
                  </option>
                </select>
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: shippingAddressCoutry,
                        field: 'Country'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Street</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  formControlName="street"
                  type="text"
                  class="form-group"
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: shippingAddressStreet,
                        field: 'Street'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>City</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  formControlName="city"
                  type="text"
                  class="form-group"
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: { name: shippingAddressCity, field: 'City' }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>State</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select
                  formControlName="state"
                  class="form-control"
                  [attr.disabled]="true"
                >
                  <option *ngFor="let state of states" [ngValue]="state.name">
                    {{ state.label }}
                  </option>
                </select>
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: { name: shippingAddressState, field: 'State' }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Zip Code</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  type="number"
                  mode="decimal"
                  formControlName="zipCode"
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: shippingAddressZipCode,
                        field: 'Zip Code'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area" formGroupName="creditCard">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Card Type</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select formControlName="cardType" class="form-control">
                  <option
                    *ngFor="let card of ['visa', 'masterCard']"
                    [ngValue]="card"
                  >
                    {{ card }}
                  </option>
                </select>
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: creditCardCardType,
                        field: 'Card Type'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Name On Card</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard" />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: creditCardNameOnCard,
                        field: 'Card Type'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Card Number</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  type="number"
                  mode="decimal"
                  formControlName="cardNumber"
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: creditCardCardNumber,
                        field: 'Card Number',
                        digit: 16
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Security Code</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  type="number"
                  formControlName="securityCode"
                />
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: creditCardSecurityCode,
                        field: 'Security Code',
                        digit: 3
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Expiration Month</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select formControlName="expirationMonth" class="form-control">
                  <option *ngFor="let month of months" [ngValue]="month">
                    {{ month }}
                  </option>
                </select>

                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: creditCardExpirationMonth,
                        field: 'Expiration Month'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Expiration Year</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select
                  formControlName="expirationYear"
                  class="form-control"
                  (change)="onChangeYear($event)"
                >
                  <option *ngFor="let year of years" [ngValue]="year">
                    {{ year }}
                  </option>
                </select>
                <ng-container
                  *ngTemplateOutlet="
                    errorName;
                    context: {
                      $implicit: {
                        name: creditCardExpirationYear,
                        field: 'Expiration Year'
                      }
                    }
                  "
                ></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-col row-30 bg-white price-details">
          <span class="price-details-items font-bold"> PRICE DETAILS </span>
          <hr class="text-secondary m-0" />
          <div class="flex-col m-4 mb-0 price-detail-info">
            <div class="flex-row space-between mb-3">
              <span class=" ">Price ({{ cartStatus.totalNumber }} items) </span>
              <span>₹{{ cartStatus.price | number : "1.2-3" }}</span>
            </div>
            <div class="flex-row space-between mb-3">
              <span class=" ">Discount </span>
              <span class="text-success">
                {{
                  cartStatus.price - cartStatus.totalUnitPrice
                    | number : "1.3-3"
                    | currency : "INR"
                }}</span
              >
            </div>
            <div class="flex-row space-between mb-3">
              <span> Delivery Charges </span>
              <span class="text-success">Free</span>
            </div>
            <span class="price-detail-info mb-3"></span>
            <div class="flex-row space-between mb-3 font-bold">
              <span class=" ">Total Amount </span>
              <span>₹{{ cartStatus.price | number : "1.2-3" }}</span>
            </div>
          </div>
          <div class="flex space-between mb-3 font-bold ml-4 mt-2 text-success">
            <div class="ml-1">
              You will save
              <span class="text-success">
                ₹{{
                  cartStatus.totalUnitPrice - cartStatus.price
                    | number : "1.2-3"
                }}</span
              >
              on this order
            </div>
          </div>
        </div>
        <div class="flex m-4">
          <button type="submit" class="btn btn-primary btn-lg m-auto">
            Checkout
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template let-item #errorName>
  <div
    *ngIf="item.name.invalid && (item.name.dirty || item.name.touched)"
    class="alert alert-danger my-1"
  >
    <div
      *ngIf="
        item.name.errors.required ||
        (item.name.errors.errorMessage && safeTrim(item.name.value).length > 0)
      "
    >
      {{ item.field }} {{ item.name.errors.errorMessage }} is required.
    </div>
    <div *ngIf="item.name.errors.minlength; else validationError">
      {{ item.field }} must be at least 2 characters.
    </div>

    <ng-template #validationError>
      <div *ngIf="item.name.errors.validationError; else minLengths">
        {{ item.name.errors.validationError }}
      </div>
      <ng-template #minLengths>
        <div *ngIf="item.name.errors.minlength">
          {{ item.field }} must be at least 2 characters
        </div>
        <!-- {{item.name.errors | json}} -->
        <div *ngIf="item.name.errors.min">
          {{ item.filed }} should be atleast 5 digits.
        </div>
        <div *ngIf="item.name.errors.pattern">
          {{ item.filed }} should be of {{ item.digit }} digits.
        </div>
      </ng-template>
    </ng-template>
  </div>
</ng-template>
