<div class="main page-m scrol">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
        <!--Customer-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label>First Name</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input formControlName="firstName" type="text" pInputText />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Last Name</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input formControlName="lastName" type="text" pInputText />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input pInputText formControlName="email" type="email" />
              </div>
            </div>
          </div>
        </div>
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shpiping Address</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Country</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select formControlName="country" class="form-control" (change)="getState($event)">
                  <option 
                    *ngFor="let country of countries"
                    [ngValue]="country.name"
                  >
                    {{ country.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Street</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  formControlName="street"
                  type="text"
                  class="form-group"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>City</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  formControlName="city"
                  type="text"
                  class="form-group"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>State</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select
                  formControlName="state"
                  class="form-control"
                  [attr.disabled]="true"
                >
                  <option *ngFor="let state of states" [ngValue]="state.name">
                    {{ state.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Zip Code</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  type="number"
                  mode="decimal"
                  formControlName="zipCode"
                />
              </div>
            </div>
          </div>
        </div>

       
        <div class="form-area" formGroupName="creditCard">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Card Type</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select formControlName="cardType" class="form-control">
                  <option
                    *ngFor="let card of ['visa', 'masterCard']"
                    [ngValue]="card"
                  >
                    {{ card }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Name On Card</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input type="text" formControlName="nameOnCard" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Card Number</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  type="number"
                  mode="decimal"
                  formControlName="cardNumber"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Security Code</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  pInputText
                  type="number"
                  formControlName="securityCode"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Expiration Month</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select formControlName="expirationMonth" class="form-control">
                  <option *ngFor="let month of months" [ngValue]="month">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Expiration Year</label>
            </div>
            <div class="col-md-6">
              <div class="input-space">
                <select formControlName="expirationYear" class="form-control" (change)="onChangeYear($event)">
                  <option
                    *ngFor="let year of years"
                
                    [ngValue]="year"
                  >
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-area">
          <!--Order Details-->
          <h3>Review Order</h3>
          <p>Totoal Quantity : {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Totoal Price : {{ totalPrice }}</p>
        </div>
        <div class="flex mb-4">
          <button type="submit" class="btn btn-info btn-lg m-auto">
            Checkout
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
