<div class="cart-area d-n">
  <a routerLink="/cart-details">
    <div class="total">
      {{
        cartStatus.price > 0
          ? (cartStatus.price | number : "1.3-3" | currency : "INR")
          : "0.000"
      }}

      <span>
        {{ cartStatus.totalNumber > 0 ? cartStatus.totalNumber : "0" }}</span
      >
    </div>
    <span class="badge circle">{{
      cartStatus.totalNumber > 0
        ? cartStatus.totalNumber > 99
          ? "99+"
          : cartStatus.totalNumber
        : 0
    }}</span>
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>
</div>
